<h1>Here are all your recipes:</h1>

<% if @recipes.any? %>
<ul>
  <% @recipes.each do |recipe| %>
  <li><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></li>
  <% end %>
</ul>
<% end %>
<div class='recipe_list'>
  <a href='/recipes/add'>Add a New Recipe</a>
</div>

<h1>Here are all your ingredients:</h1>

<% if @ingredients.any? %>
<ul>
  <% @ingredients.each do |ingredient| %>
  <li><a href="/ingredients/<%= ingredient.id %>"><%= ingredient.name %></a></li>
  <% end %>
</ul>
<% end %>
<div class='ingredient_list'>
  <a href='/ingredients/add'>Add a New Ingredient</a>
</div>

<h1>Here are all your categories:</h1>

<% if @categories.any? %>
<ul>
  <% @categories.each do |category| %>
  <li><a href="/categories/<%= category.id %>"><%= category.tag %></a></li>
  <% end %>
</ul>
<% end %>
<div class='category_list'>
  <a href='/categories/add'>Add a New Category</a>
</div>
